<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:task="http://www.springframework.org/schema/task"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/task 
    http://www.springframework.org/schema/task/spring-task-3.1.xsd">

	<context:component-scan base-package="kr.ac.kopo" />
	
	<!-- 스케줄러 크론탭 설정에 필요한 태그들  -->
	<task:scheduler id="cardSalesScheduler" pool-size="10"/>
	<task:annotation-driven scheduler="cardSalesScheduler"/>
	
	
    <mvc:annotation-driven />
	<mvc:default-servlet-handler />
	
	<!-- ResponseBody 사용해서 String 한글 깨지지 않게  -->
	<!-- json형식  -->
	<mvc:annotation-driven>
    	<mvc:message-converters>
    		<bean class="org.springframework.http.converter.StringHttpMessageConverter">
    			<property name="supportedMediaTypes">
    				<list>
    					<value>text/html; charset=utf-8</value>
    				</list>
    			</property>
    		</bean>
    		
    		<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
    			<property name="supportedMediaTypes">
    				<list>
    					<value>text/html; charset=utf-8</value>
    					<value>application/json; charset=utf-8</value>
    				</list>
    			</property>
    		</bean>
    	</mvc:message-converters>
    </mvc:annotation-driven>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:config/prop/db.properties" />
		<property name="fileEncoding" value="UTF-8" />
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${driver}"></property>
		<property name="url" value="${url}" />
		<property name="username" value="${user}" />
		<property name="password" value="${password}" />
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/mybatis/sqlMapConfig.xml"/>
		<property name="mapperLocations" value="classpath:config/sqlmap/oracle/*.xml"></property>
	</bean>
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>
	
	<mvc:view-resolvers>
		<mvc:jsp prefix="/WEB-INF/jsp/" suffix=".jsp" />
	</mvc:view-resolvers>
	
	
	<bean id="multipartResolver" class = "org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="maxUploadSize" value="20971520"></property>				 
    </bean>						   <!--10MB 10485760 -->
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	  <property name="prefix" value="/WEB-INF/views/" />
	  <property name="suffix" value=".jsp" />
	</bean>
	
	
	
	
	
	<!-- 우선, 인터셉터는 작동안되게 하자  -->
	<!-- <bean class="kr.ac.kopo.interceptor.LoginInterceptor" id="loginInterceptor" />
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			이 인터셉터는 로그인 유무를 판단하는 건데, login에서는 필요없음!
			리소스 파일에는 css, img 이런거 있는데, 필요없음 
			main인 루트도 쓸 필요없음
			이것들을 제외하고는 모두 로그인 인터셉터를 거치게 만든다 
			<mvc:exclude-mapping path="/login" />
			<mvc:exclude-mapping path="/resources/**" />
			<mvc:exclude-mapping path="/" />
			<mvc:exclude-mapping path="/board" />
			<mvc:exclude-mapping path="/ocr/**"/>
			<ref bean="loginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors> -->
	

</beans>